body {
  background-color: beige;
}

textarea,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

textarea {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin-right: 30px;
  margin-bottom: 30px;
}

.row {
  margin-bottom: 25px;
}

label,
input {
  display: inline-block;
  vertical-align: middle;
}

label {
  margin-right: 10px;
}

input,
button {
  padding: 5px;
}

#shiftAmount {
  width: 75px;
}

#leftButton {
  margin-right: 5px;
}